.Entete{
    background-color:gainsboro;
    padding-left: 100px;
    
}
.Entete h1{
    font-size: 26px;
}

.Entete a {
    color: var(--primary-color);
    text-decoration: none;

}

.Entete p {
    color: grey;
}



.rangé{
    display: flex;
    flex-direction: row;
    
    align-items: flex-end;
    gap: 1rem;
    
}

.colonne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.colonne h2{
color: var(--primary-color);
margin: 0px;
font-size: 20px;
}

.colonne p{
    color: black;
    margin: 5px;
    margin-bottom: 20px;
}

.rangé2{
    display: flex ;
    flex-direction: row;
     
    
    
}

img{
    border-radius: 16px;
    box-shadow: 0 10px 30 px rgba(0, 0, 0, 0.1);
}

section ul{
    display: flex;
    flex-direction: column;
     padding-left: 1.5rem;

    line-height: 1.6;
    
}
section ol{
    display: flex;
    flex-direction: column;
     padding-left: 1.5rem;

    line-height: 1.6;
}